.film-card_v1{
  max-width: 300px;
  margin-bottom: 50px; 
}

img.img_v1{
  height: 450px;
}

.film-card_v2{
  max-width: 500px;
  margin-bottom: 50px; 
  display:flex;
  justify-content: space-around;
  font-size: 12px;
}

img.img_v2{
  width: 250px;
  height: 350px;
}

.content_v2{
  margin-left: 5px;
}

