<div>
  <md-toolbar>
    <button (click)="sidenav.toggle()" class="toolbar-button" md-mini-fab><md-icon>menu</md-icon></button>
    <div class="toolbar-button-row">
      <a md-button *ngFor="let topLink of links" href="#">
        <md-icon>{{topLink.icon}}</md-icon> &nbsp; {{topLink.label}}
      </a>
    </div>
    <span>{{title}}</span>
  </md-toolbar>

  <md-sidenav-container>

    <film-search class="search" (searchEv)='searchFilm($event)' (viewEv)='viewOfFilms($event)'></film-search>

    <div class="app-content">
      <film-list></film-list>
    </div>
    <a class='btnUp' (click)='contentUp()'>
      <md-icon>arrow_upwards</md-icon>
    </a>
  </md-sidenav-container>

</div>